// Font family
$poppins: "Poppins", sans-serif;
$basis: "Basis", sans-serif;
$rale: "Raleway", sans-serif;

// Brand Colors
$color-primary: #00afef;

// Black colors
$color-black-900: #000000;
$color-black-600: #1d1d1d;
$color-black-300: #282828;
$color-white: #ffffff;

// Grey-colors
$color-grey-500: #333333;
$color-grey-400: #4f4f4f;
$color-grey-300: #828282;
$color-grey-200: #bdbdbd;
$color-grey-100: #e0e0e0;

// State colors
$color-info: #2f80ed;
$color-success: #27ae60;
$color-warning: #e2b93b;
$color-error: #eb5757;
$color-notification: #fb0000;
